*{
    padding :0;
    margin: 0;
    color: rgb(152, 233, 250);
    text-align: center;
}
html , body{
background-color: rgb(235, 148, 148);

}
.main_container{
    border: 7px solid rgb(16, 38, 93);
    border-radius: 50px;
    margin: 2rem;
    background-color: rgb(183, 99, 243);

}
nav,section,footer,aside,article{
border: 4px solid rgb(255,0, 0);
margin: 1rem;
border-radius:10px ;
padding: 1rem;

}
article,aside{

    width: 40%;
    display: inline-flex;
    height: 300px;

}
nav,footer,section{
    background-color: rgb(238, 179, 91);
}
